<form #form="ngForm">
  <input
    type="text"
    name="nome"
    ngModel
    #nomeInputControl="ngModel"
    [ngModelOptions]="{ updateOn: 'blur' }"
    placeholder="Digite o nome"
    appUserNameValidator
  />

  <div *ngIf="nomeInputControl.dirty">
    <p *ngIf="nomeInputControl.pending" style="color: lightgray">
      Verificando...
    </p>
    <p
      *ngIf="
        !nomeInputControl.pending &&
        nomeInputControl.valid &&
        !nomeInputControl.hasError('invalidUserName')
      "
      style="color: green"
    >
      Usuário Existente.
    </p>
    <p
      *ngIf="
        !nomeInputControl.pending &&
        nomeInputControl.invalid &&
        nomeInputControl.hasError('invalidUserName')
      "
      style="color: red"
    >
      Usuário Inexistente.
    </p>
  </div>

  <p>Válido: {{ nomeInputControl.valid }}</p>
  <p>Tocado: {{ nomeInputControl.touched }}</p>
  <p>Sujo: {{ nomeInputControl.dirty }}</p>
  <p>Pendente: {{ nomeInputControl.pending }}</p>
</form>
