<form #form="ngForm">
  <input
    type="text"
    name="nome"
    ngModel
    #nomeInputControl="ngModel"
    placeholder="Digite o nome"
  />

  <div>
    <p style="color: lightgray">Verificando...</p>
    <p style="color: green">Usuário Existente.</p>
    <p style="color: red">Usuário Inexistente.</p>
  </div>

  <p>Válido: {{ nomeInputControl.valid }}</p>
  <p>Tocado: {{ nomeInputControl.touched }}</p>
  <p>Sujo: {{ nomeInputControl.dirty }}</p>
  <p>Pendente: {{ nomeInputControl.pending }}</p>
</form>
