<div class="card-container">
  <div class="card-header">
    <div class="title">
      <img src="../../../assets/icons/icon-hand.png" />
      <p>Saldos Disponíveis</p>
    </div>
    <div class="balance">
      <p>R$ 100,00</p>
    </div>
  </div>

  <div class="card-content">
    <app-credit-card-details></app-credit-card-details>
    <app-bordeless-item-list></app-bordeless-item-list>
    <!-- Item List -->
    <app-item-list></app-item-list>
    <app-item-list></app-item-list>
    <app-item-list></app-item-list>
    <app-item-list></app-item-list>
    <app-item-list></app-item-list>
    <!-- Item List -->
    <!-- Account Details -->
    <app-account-details></app-account-details>
    <!-- Account Details -->
  </div>
</div>
