/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//Altera a cor do mat-slider que vem do angular material, e vai atualizar a cor em toda a aplicação.
// .mdc-slider__track--active_fill {
//   border-color: yellowgreen !important;
// }
