<!-- Aula 01 -->
<!-- <div class="card">
  <ng-content select=".text"></ng-content>
  <ng-content select="button"></ng-content>
  <ng-content select="[attrTeste]"></ng-content>
</div>

<ng-content></ng-content> -->

<!-- Aula 02 -->
<!-- <div class="card">
  <ng-content select="[card-header]"></ng-content>
  <ng-content select="[card-content]"></ng-content>
  <ng-content select="[card-footer]"></ng-content>
</div> -->

<!-- <div class="card">
  <ng-content select="app-comp-texto"></ng-content>
</div> -->

<!-- Aula 03 -->
<!-- <div class="card">
  <ng-content></ng-content>
</div> -->

<!-- Aula 04 -->
<div class="card">
  <div class="card__header">
    <ng-content select="[card-header]"></ng-content>
  </div>
  <div class="card__content">
    <ng-content select="[card-content]"></ng-content>
  </div>
</div>
