<!-- Aula 01  -->
<!-- <app-card>
  <p class="text">Sou um conteúdo!</p>
  <p class="text" attrTeste>Sou um conteúdo 2!</p>
  <button attrTeste>Botão</button>
</app-card> -->

<!-- Aula 02 -->
<!-- <app-card>
  <div card-header>Sou o Header</div>
  <div card-content>Sou o Conteúdo</div>
  <div card-footer>Sou o Footer</div>
</app-card> -->

<!-- <app-card>
  <app-comp-texto></app-comp-texto>
  <button>Botão</button>
</app-card> -->

<!-- Aula 03 -->
<!-- <app-card>
  <p class="texto">Sou um parágrafo</p>
</app-card>
<br />
<app-card>
  <button>Botão</button>
</app-card> -->

<!-- Aula 04 -->
<div class="container">
  <div class="item">
    <app-card>
      <app-card-header>
        <img
          appCardLargeImage
          src="https://cdn.iconscout.com/icon/free/png-256/free-user-3604612-3005548.png"
          alt="Profile Icon"
        />
      </app-card-header>
      <app-card-content>
        <div class="card__content">
          <app-card-description-text>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus nulla explicabo soluta assumenda quo vel impedit
            maiores pariatur culpa laudantium repellat praesentium accusamus
            voluptatem laborum sequi modi reprehenderit, sint qui?
          </app-card-description-text>
        </div>
      </app-card-content>
    </app-card>
  </div>
  <div class="item">
    <app-card>
      <app-card-header>
        <div class="card__header card__header--direction-column">
          <app-card-main-text>Fulano da Silva</app-card-main-text>
          <img
            appCardSmallImage
            src="https://cdn.iconscout.com/icon/free/png-256/free-user-3604612-3005548.png"
            alt="Profile Icon"
          />
          <app-card-sub-text>Desenvolvedor Front-End</app-card-sub-text>
        </div>
      </app-card-header>
      <app-card-content>
        <div class="card__content">
          <app-card-description-text>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod rem
            quia atque inventore molestias et corporis, voluptatibus optio
            libero quae earum a eaque aliquid sed nobis tenetur. Unde, mollitia
            velit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Repudiandae itaque expedita molestiae laudantium consequatur?
            Sapiente perferendis, quod itaque veritatis debitis et. Eos soluta
            perspiciatis porro dolores ducimus magnam recusandae. Sint!
          </app-card-description-text>
        </div>
      </app-card-content>
    </app-card>
  </div>
</div>
