<div class="card-container">
  <div class="card-header bg-blue">
    <app-card-title
      title="Informações do Cliente"
      icon="icon-client.png"
    ></app-card-title>
  </div>

  <div class="card-content">
    <app-item-list text="Nome" value="João Paulo Moura"></app-item-list>
    <app-card-line></app-card-line>
    <app-item-list text="Idade" value="26 Anos"></app-item-list>
    <app-card-line></app-card-line>
    <app-item-list text="Renda Mensal" value="R$ 5000,00"></app-item-list>
    <app-card-line></app-card-line>
  </div>
</div>
