.item {
  padding: 15px;
  background-color: beige;
  cursor: pointer;

  &__name {
    font-size: 25px;
    font-weight: 500;
  }

  &__age {
    font-size: 20px;
    font-weight: 300;
  }

  &--odd {
    background-color: rgb(230, 175, 175);
  }

  &--highlighted {
    background-color: rgb(117, 138, 87);
    border: 3px solid rgb(70, 82, 54);
  }
}
