<div *ngIf="userPromise | async as user; else loadingTemplate">
  <p>Nome: {{ user.name }}</p>
  <p>Username: {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>
  <p>ID: {{ user.id }}</p>
</div>

<ng-template #loadingTemplate>
  <h1>Carregando...</h1>
</ng-template>

<hr />

<div *ngIf="userByIdPromise | async as userById; else loadingTemplate">
  <p>Nome: {{ userById.name }}</p>
  <p>Username: {{ userById.username }}</p>
  <p>Email: {{ userById.email }}</p>
  <p>ID: {{ userById.id }}</p>
</div>
