<app-card>
  <app-card-header>
    <app-card-title
      title="Saldos Disponíveis"
      icon="icon-hand.png"
    ></app-card-title>
    <div class="balance">
      <p>R$ 100,00</p>
    </div>
  </app-card-header>
  <app-card-content>
    <!-- Item List -->
    <app-item-list text="Conta Corrente" value="R$ 200,00"></app-item-list>
    <app-card-line></app-card-line>
    <app-item-list
      text="Conta Corrente Saldos Vinculados"
      value="R$ 300,00"
    ></app-item-list>
    <app-card-line></app-card-line>
    <app-item-list
      text="Conta Poupança Saldos Vinculados"
      value="R$ 400,00"
    ></app-item-list>
    <app-card-line></app-card-line>
    <app-item-list
      text="Investimentos com Baixa Automática"
      value="R$ 500,00"
    ></app-item-list>
    <app-card-line></app-card-line>
    <app-item-list
      text="Investimentos sem Baixa Automática"
      value="R$ 500,00"
    ></app-item-list>
    <app-card-line></app-card-line>
    <!-- Item List -->
    <!-- Account Details -->
    <app-account-details></app-account-details>
    <!-- Account Details -->
  </app-card-content>
</app-card>
