<!-- Exemplo 01 (Aula 01) -->
<!-- <app-sem-diretiva></app-sem-diretiva> -->

<!-- Exemplo 02 (Aula 02) -->
<!-- <app-com-diretiva></app-com-diretiva> -->

<!-- Exemplo 03 (Aula 03) -->
<!-- <button disabled>Meu Botão</button>

<button [attr.disabled]="false">Meu Botão Attr</button>

<button appDisabled>Meu Botão Prop</button> -->

<!-- Exemplo 04 (Aula 04) -->
<!-- <p style="background-color: orange; color: white">Parágrafo Normal</p>
<p [attr.style]="'background-color: orange; color: white'">Attribute</p>
<p [style]="'background-color: orange; color: white'">Property Binding</p>
<p
  [style]="{
    backgroundColor: 'orange',
    color: 'white'
  }"
>
  Property Binding Obj
</p>
<p appStyle>Parágrafo com Diretiva</p> -->

<!-- Exemplo 05 (Aula 05) -->
<!-- <p class="meu-texto">Normal</p>
<p [attr.class]="'meu-texto'">Attr</p>
<p [className]="'meu-texto meu-size'">Prop Class Name</p>
<p [class]="{ 'meu-texto': true, 'meu-size': true }">Prop Class</p>
<p appClass>Diretiva</p> -->

<!-- Exemplo 06 (Aula 06) -->
<!-- <input appListener type="text" /> -->

<!-- Exemplo 07 (Aula 07) -->
<!-- <input appInputBackground="blue" textColor="white" /> -->

<!-- Exemplo 08 (Aula 08) -->
<div #minhaDiv></div>
<div id="minha-outra-div"></div>
