<!-- Exemplo 01 (Aula 01) -->
<!-- <app-sem-diretiva></app-sem-diretiva> -->

<!-- Exemplo 02 (Aula 02) -->
<!-- <app-com-diretiva></app-com-diretiva> -->

<!-- Exemplo 03 (Aula 03) -->
<!-- <button disabled>Meu Botão</button>

<button [attr.disabled]="false">Meu Botão Attr</button>

<button appDisabled>Meu Botão Prop</button> -->

<!-- Exemplo 04 (Aula 04) -->
<!-- <p style="background-color: orange; color: white">Parágrafo Normal</p>
<p [attr.style]="'background-color: orange; color: white'">Attribute</p>
<p [style]="'background-color: orange; color: white'">Property Binding</p>
<p
  [style]="{
    backgroundColor: 'orange',
    color: 'white'
  }"
>
  Property Binding Obj
</p>
<p appStyle>Parágrafo com Diretiva</p> -->

<!-- Exemplo 05 (Aula 05) -->
