.card-container {
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    padding: 10px;

    &[color="blue"] {
      background-color: aqua;
    }

    &[color="green"] {
      background-color: yellowgreen;
    }

    .balance {
      p {
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
  }

  .card-content {
    background-color: #f5f5f5;
    padding: 10px;
    display: block;
  }

  &__title-text {
    font-size: 20px;
    font-weight: 800;
  }

  &__description-text {
    font-size: 16px;
    font-weight: 500;
  }

  &__medium-icon {
    width: 40px;
  }

  &__large-icon {
    width: 60px;
  }
}
