.infos {
  &__row {
    width: 100%;
    display: flex;
  }

  &__item {
    width: 50%;
    padding: 10px;
    background-color: #d9d9d9;
  }

  &__header {
    background-color: #000000;
    color: #fff;
    text-align: center;

    &--border-top-left {
      border-top-left-radius: 7px;
    }
    &--border-top-right {
      border-top-right-radius: 7px;
    }
  }

  &__row &item:not(&__header):nth-child(2) {
    border-left: 1px solid #fff;
  }
}
