<mat-card>
  <mat-card-content>
    <form class="user-form" #userForm="ngForm" appPasswordConfirmationValidator>
      <div class="user-form__row">
        <mat-form-field class="user-form__item user-form__item-100">
          <mat-label>Nome: </mat-label>
          <input
            type="text"
            name="nome"
            matInput
            [(ngModel)]="userSelected.name"
            required
          />
          <mat-error>O campo <strong>nome</strong> é obrigatório.</mat-error>
        </mat-form-field>
      </div>
      <div class="user-form__row">
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Usuário: </mat-label>
          <input
            type="text"
            name="usuario"
            matInput
            [(ngModel)]="userSelected.username"
            [ngModelOptions]="{ updateOn: 'blur' }"
            #usernameControl="ngModel"
            [appCredentialsValidator]="'username'"
            required
          />
          <mat-hint
            >O <strong>usuário</strong> será utilizado para o login.</mat-hint
          >
          <mat-error *ngIf="usernameControl.hasError('required')"
            >O campo <strong>usuário</strong> é obrigatório.</mat-error
          >
          <mat-error
            *ngIf="
              usernameControl.hasError('invalidUsername') &&
              !usernameControl.hasError('required')
            "
            >Este <strong>usuário</strong> já está sendo utilizado.</mat-error
          >
        </mat-form-field>
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Email: </mat-label>
          <input
            type="text"
            name="email"
            matInput
            [(ngModel)]="userSelected.email"
            [ngModelOptions]="{ updateOn: 'blur' }"
            #emailControl="ngModel"
            appEmailPatternValidator
            [appCredentialsValidator]="'email'"
            required
          />
          <mat-error *ngIf="emailControl.hasError('required')"
            >O campo <strong>email</strong> é obrigatório.</mat-error
          >
          <mat-error
            *ngIf="
              emailControl.hasError('invalidEmailPattern') &&
              !emailControl.hasError('required')
            "
          >
            O <strong>Email</strong> é inválido.
          </mat-error>
          <mat-error
            *ngIf="
              emailControl.hasError('invalidEmail') &&
              !emailControl.hasError('required')
            "
            >Este <strong>Email</strong> já está sendo utilizado</mat-error
          >
        </mat-form-field>
      </div>
      <div class="user-form__row">
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Senha: </mat-label>
          <input
            type="password"
            name="senha"
            matInput
            [(ngModel)]="userSelected.password"
            (ngModelChange)="onPasswordChange($event)"
            #passwordControl="ngModel"
            appPasswordStrengthValidator
            required
          />
          <mat-error *ngIf="passwordControl.hasError('required')">
            A <strong>Senha</strong> é obrigatória.
          </mat-error>
          <mat-error
            *ngIf="
              passwordControl.hasError('invalidPasswordStrength') &&
              !passwordControl.hasError('required')
            "
            >Digite uma senha <strong>mais forte</strong>.</mat-error
          >
          <mat-progress-bar
            [value]="passwordStrengthValue"
            [ngClass]="{
              'weak-password':
                passwordStrengthValue === 0 || passwordStrengthValue === 30,
              'medium-password': passwordStrengthValue === 60,
              'strong-password': passwordStrengthValue === 100
            }"
          ></mat-progress-bar>
        </mat-form-field>
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Confirmação de Senha: </mat-label>
          <input
            autocomplete="one-time-code"
            type="password"
            name="confirmacaoSenha"
            matInput
            ngModel
            #passwordConfirmationControl="ngModel"
            required=""
          />
          <mat-error *ngIf="passwordConfirmationControl.hasError('required')"
            >A <strong>Confirmação de Senha</strong> é obrigatória.</mat-error
          >
          <mat-error
            *ngIf="
              passwordConfirmationControl.hasError(
                'invalidPasswordConfirmation'
              ) && !passwordConfirmationControl.hasError('required')
            "
            >As <strong>Senhas</strong> estão incorretas.</mat-error
          >
        </mat-form-field>
      </div>
      <div class="user-form__row">
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Data de Nascimento: </mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [min]="minDate"
            [max]="maxDate"
            name="dataNascimento"
            [ngModel]="dateValue"
            (dateChange)="onDateChange($event)"
            readonly
            required
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancelar</button>
              <button mat-raised-button color="primary" matDatepickerApply>
                Confirmar
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
          <mat-hint>DD/MM/AAAA</mat-hint>
          <mat-error
            >A <strong>Data de Nascimento</strong> é obrigatória.</mat-error
          >
        </mat-form-field>
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Estado: </mat-label>
          <mat-select name="estado" [(ngModel)]="userSelected.state" required>
            <mat-option>-</mat-option>
            <mat-option *ngFor="let state of stateList" [value]="state.id">{{
              state.descricao
            }}</mat-option>
          </mat-select>
          <mat-error>O <strong>Estado</strong> é obrigatório.</mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
