<!-- Aula 01 -->
<!-- <input [ngModel]="nome" (ngModelChange)="onChange($event)" /> -->
<!-- <input [(ngModel)]="nome" />
<br />
<button (click)="show()">Mostrar</button> -->

<!-- Aula 02 -->
Nome:
<!-- <input
  ngModel
  #meuInput
  #meuInputFormControl="ngModel"
  required
  minlength="5"
  [ngClass]="{
    valid: meuInputFormControl.valid && meuInputFormControl.touched,
    invalid: meuInputFormControl.invalid && meuInputFormControl.touched
  }"
/> -->
<input
  ngModel
  #meuInput
  #meuInputFormControl="ngModel"
  required
  minlength="5"
/>
<div *ngIf="meuInputFormControl.invalid && meuInputFormControl.touched">
  <div *ngIf="meuInputFormControl.hasError('required')">
    O campo nome é obrigatório.
  </div>
  <div *ngIf="meuInputFormControl.hasError('minlength')">
    O campo nome deve ter no mínimo 5 caracteres.
  </div>
</div>

<br />
<p>Válido: {{ meuInputFormControl.valid }}</p>
<p>Tocado: {{ meuInputFormControl.touched }}</p>
<p>Sujo: {{ meuInputFormControl.dirty }}</p>
<br />
<button (click)="send()">Enviar</button>
