<div class="card-container">
  <div class="card-header">
    <app-card-title
      title="Cartão de Crédito"
      icon="icon-credit-card.png"
    ></app-card-title>
  </div>

  <div class="card-content">
    <app-credit-card-details
      cardNumber="1234567891011"
      clientName="JOÃO PAULO MOURA"
      card="MASTER CARD"
    ></app-credit-card-details>
    <app-item-list text="Limite de Compra" value="1000,00"></app-item-list>
    <app-card-line></app-card-line>
    <app-item-list text="Disponível" value="1200,00"></app-item-list>
    <app-item-list text="Limite de Saque" value="2000,00"></app-item-list>
    <app-card-line></app-card-line>
    <app-item-list text="Disponível" value="1200,00"></app-item-list>
    <app-item-list
      text="Limite Total Utilizado"
      value="3000,00"
    ></app-item-list>
  </div>
</div>
