<app-card>
  <app-card-header>
    <app-card-title
      title="Cartão de Crédito"
      icon="icon-credit-card.png"
    ></app-card-title>
  </app-card-header>
  <app-card-content>
    <app-credit-card-details
      cardNumber="1234567891011"
      clientName="JOÃO PAULO MOURA"
      card="MASTER CARD"
    ></app-credit-card-details>
    <app-item-list text="Limite de Compra" value="R$ 1000,00"></app-item-list>
    <app-card-line></app-card-line>
    <app-item-list text="Disponível" value="R$ 1200,00"></app-item-list>
    <app-item-list text="Limite de Saque" value="R$ 2000,00"></app-item-list>
    <app-card-line></app-card-line>
    <app-item-list text="Disponível" value="R$ 1200,00"></app-item-list>
    <app-item-list
      text="Limite Total Utilizado"
      value="R$ 3000,00"
    ></app-item-list>
  </app-card-content>
</app-card>
